.journal-item {
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.03);
    color: white;
    padding: 20px;
}

.journal-item__header {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.journal-item__date {
    color: #ffffff66;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.journal-item__text {
    color: #ffffff99;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    overflow: hidden;
}

.journal-item__body {
    display: flex;
    gap: 10px;
}
